<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course work</title>
    <link href="./styles/index-styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="./images/kpi-logo.png" alt="..." height="45" class="me-2 white-image">
        <span>KPI - Dorms DB</span>
      </a>
      <button class="navbar-toggler" data-bs-toggle="collapse"
      data-bs-target="#nav" aria-contols="nav" aria-label="Expand Navigation">
        <div class="navbar-toggler-icon"></div>
      </button>
      <div class="collapse navbar-collapse " id="nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link text-light active" aria-current="page">Головна сторінка</a>
          </li>
          <li class="nav-item">
            <a href="/faculties" class="nav-link text-light active" aria-current="page">Факультети</a>
          </li>
          <li class="nav-item">
            <a href="/dorms" class="nav-link text-light active" aria-current="page">Гуртожитки</a>
          </li>
          <li class="nav-item">
            <a href="/rooms" class="nav-link text-light active" aria-current="page">Кімнати</a>
          </li>
          <li class="nav-item">
            <a href="/students" class="nav-link text-light active" aria-current="page">Студенти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="container-fluid" id="mainSection">
  </section>
  <footer class="bg-dark text-center text-lg-start text-white position-absolute b-0 w-100">
    <div class="text-center p-3">
      © 2023 Alina Lytovchenko's Course Work
    </div>
  </footer>

   <!--window for creating faculties-->
  <div class="modal fade" id="createFaculty" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="createFacultyModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="createFacultyModalLabel">Додати новий факультет</h4>
        </div>
        <form id="createFacultyForm" method="post" action="faculties">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <input type="text" class="form-control" id="facultyNameInput" name="facultyName" placeholder="Введіть скорочену назву факультету" required>
                <label for="facultyName" class="form-label">Назва факультету</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="text" class="form-control" id="headOfSelectionComitteeNameInput" name="headOfSelectionComitteeName" placeholder="Введіть ПІБ голови факультету" required>
                <label for="headOfSelectionComitteeName" class="form-label">ПІБ голови приймальної комісії</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="addBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Додати">
            <button type="button" id="closeBtn" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--window for creating dormitories-->
  <div class="modal fade" id="createDorm" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="createDormModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="createDormModalLabel">Додати новий гуртожиток</h4>
        </div>
        <form id="createDormForm" method="post" action="dorms">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <input type="number" class="form-control" id="dormNumberInput" name="dormNumber" placeholder="Введіть номер гуртожитку" min="1" required>
                <label for="dormNumber" class="form-label">Номер гуртожитку</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="text" class="form-control" id="dormCommandantNameInput" name="dormCommandantName" placeholder="Введіть ПІБ коменданту гуртожитка" required>
                <label for="dormCommandantName" class="form-label">ПІБ коменданту гуртожитка</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="facultyId" id="facultyNameForDormInput" class="form-select" placeholder="Введіть назву факультету, якому належить гуртожиток" required></select>
                <label for="facultyId" class="form-label">Назва факультету, якому належить гуртожиток</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="addBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Додати">
            <button type="button" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
      </div>
    </form>
    </div>
  </div>

  <!--window for creating rooms-->
  <div class="modal fade" id="createRoom" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="createRoomModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="createRoomModalLabel">Додати нову кімнату</h4>
        </div>
        <form id="createRoomForm" method="post" action="rooms">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <select name="dormId" id="dormNumberForRoomInput" class="form-select" placeholder="Введіть номер гуртожитку, якому належить кімната" required></select>
                <label for="dormId" class="form-label">Номер гуртожитку, якому належить кімната</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="number" class="form-control" id="roomNumberInput" name="roomNumber" placeholder="Введіть номер кімнати" min="100" max="999" required>
                <label for="roomNumber" class="form-label">Номер кімнати</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="number" class="form-control" id="roomCapacityInput" name="roomCapacity" placeholder="Введіть вмістність кімнати" min="1" max="4" required>
                <label for="roomCapacity" class="form-label">Вмістність кімнати</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="roomGender" id="roomGenderInput" class="form-select" placeholder="Оберіть стать, яка проживає в кімнаті" required>
                  <option value="true">Ж</option>
                  <option value="false">Ч</option>
                </select>
                <label for="roomGender" class="form-label">Стать, яка проживає в кімнаті</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="addBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Додати">
            <button type="button" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
      </div>
    </form>
    </div>
  </div>

  <!--window for creating students-->
  <div class="modal fade" id="createStudent" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="createStudentModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="createStudentModalLabel">Додати нового студента</h4>
        </div>
        <form id="createStudentForm" method="post" action="students">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <input type="text" class="form-control" id="studentFullNameInput" name="studentFullName" placeholder="Введіть ПІБ студента" required>
                <label for="studentFullName" class="form-label">ПІБ студента</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="studentGender" id="studentGenderInput" class="form-select" placeholder="Оберіть стать студента" required>
                  <option value="true">Ж</option>
                  <option value="false">Ч</option>
                </select>
                <label for="studentGender" class="form-label">Стать студента</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="studentBenefit" id="studentBenefitInput" class="form-select" placeholder="Оберіть чи має студент пільгу" required>
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
                <label for="studentBenefit" class="form-label">Наявність пільги</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="facultyId" id="facultyNameForStudentInput" class="form-select" placeholder="Оберіть факультет, на якму навчається студент" required></select>
                <label for="facultyId" class="form-label">Факультет, на якому навчається студент</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="dormId" id="dormNumberForStudentInput" class="form-select" placeholder="Введіть номер гуртожитку, в якому проживає студент" required></select>
                <label for="dormId" class="form-label">Номер гуртожитку, в якому проживає студент</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="roomId" id="roomNumberForStudentInput" class="form-select" placeholder="Оберіть номер кімнати, в якій проживає студент" disabled="true" required></select>
                <label for="roomId" class="form-label">Номер кімнати, в якій проживає студент</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="addBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Додати">
            <button type="button" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
      </div>
    </form>
    </div>
  </div>

  <!--window for editing faculties-->
  <div class="modal fade" id="editFaculty" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="editFacultyModalLabel">
    <div class="modal-dialog modal-dialog-centered editBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="editFacultyModalLabel">Редагувати дані про факультет</h4>
        </div>
        <form id="editFacultyForm" method="POST" action="/faculties?_method=PUT">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <input type="text" class="form-control" id="facultyNameEditInput" name="facultyName" placeholder="Введіть скорочену назву факультету" required>
                <label for="facultyName" class="form-label">Назва факультету</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="text" class="form-control" id="headOfSelectionComitteeNameEditInput" name="headOfSelectionComitteeName" placeholder="Введіть ПІБ голови факультету" required>
                <label for="headOfSelectionComitteeName" class="form-label">ПІБ голови приймальної комісії</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="editBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Редагувати">
            <button type="button" id="closeBtn" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--window for editing dorms-->
  <div class="modal fade" id="editDorm" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="editDormModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="editDormModalLabel">Редагувати дані про гуртожиток</h4>
        </div>
        <form id="editDormForm" method="post" action="/dorms?_method=PUT">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <input type="number" class="form-control" id="dormNumberEditInput" name="dormNumber" placeholder="Введіть номер гуртожитку" min="1" disabled required>
                <label for="dormNumber" class="form-label">Номер гуртожитку</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="text" class="form-control" id="dormCommandantNameEditInput" name="dormCommandantName" placeholder="Введіть ПІБ коменданту гуртожитка" required>
                <label for="dormCommandantName" class="form-label">ПІБ коменданту гуртожитка</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="facultyId" id="facultyNameForDormEditInput" class="form-select" placeholder="Введіть назву факультету, якому належить гуртожиток" required></select>
                <label for="facultyId" class="form-label">Назва факультету, якому належить гуртожиток</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="editBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Редагувати">
            <button type="button" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
      </div>
    </form>
    </div>
  </div>

  <!--window for editing rooms-->
  <div class="modal fade" id="editRoom" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="editRoomModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="editRoomModalLabel">Редагувати дані про кімнату</h4>
        </div>
        <form id="editRoomForm" method="post" action="/rooms?_method=PUT">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <select name="dormId" id="dormNumberForRoomEditInput" class="form-select" placeholder="Введіть номер гуртожитку, якому належить кімната" required></select>
                <label for="dormId" class="form-label">Номер гуртожитку, якому належить кімната</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="number" class="form-control" id="roomNumberEditInput" name="roomNumber" placeholder="Введіть номер кімнати" min="100" max="999" required>
                <label for="roomNumber" class="form-label">Номер кімнати</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="number" class="form-control" id="roomCapacityEditInput" name="roomCapacity" placeholder="Введіть вмістність кімнати" min="1" max="4" required>
                <label for="roomCapacity" class="form-label">Вмістність кімнати</label>
              </div>
              <br>
              <div class="form-floating">
                <input type="number" class="form-control" id="roomOcuppacityEditInput" name="roomOcuppacity" placeholder="Введіть вмістність кімнати" min="0" max="4" required>
                <label for="roomOcuppacity" class="form-label">Заповненість кімнати</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="roomGender" id="roomGenderEditInput" class="form-select" placeholder="Оберіть стать, яка проживає в кімнаті" required>
                  <option value="true">Ж</option>
                  <option value="false">Ч</option>
                </select>
                <label for="roomGender" class="form-label">Стать, яка проживає в кімнаті</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="editBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Редагувати">
            <button type="button" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
      </div>
    </form>
    </div>
  </div>

  <!--window for editing students-->
  <div class="modal fade" id="editStudent" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="editStudentModalLabel">
    <div class="modal-dialog modal-dialog-centered addBlock">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="editStudentModalLabel">Редагувати дані про студента</h4>
        </div>
        <form id="editStudentForm" method="post" action="/students?_method=PUT">
          <div class="modal-body">
            <div class="form-floating">
              <div class="form-floating">
                <input type="text" class="form-control" id="studentFullNameEditInput" name="studentFullName" placeholder="Введіть ПІБ студента" required>
                <label for="studentFullName" class="form-label">ПІБ студента</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="studentGender" id="studentGenderEditInput" class="form-select" placeholder="Оберіть стать студента" required>
                  <option value="true">Ж</option>
                  <option value="false">Ч</option>
                </select>
                <label for="studentGender" class="form-label">Стать студента</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="studentBenefit" id="studentBenefitEditInput" class="form-select" placeholder="Оберіть чи має студент пільгу" required>
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
                <label for="studentBenefit" class="form-label">Наявність пільги</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="facultyId" id="facultyNameForStudentEditInput" class="form-select" placeholder="Оберіть факультет, на якму навчається студент" required></select>
                <label for="facultyId" class="form-label">Факультет, на якому навчається студент</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="dormId" id="dormNumberForStudentEditInput" class="form-select" placeholder="Введіть номер гуртожитку, в якому проживає студент" required></select>
                <label for="dormId" class="form-label">Номер гуртожитку, в якому проживає студент</label>
              </div>
              <br>
              <div class="form-floating">
                <select name="roomId" id="roomNumberForStudentEditInput" class="form-select" placeholder="Оберіть номер кімнати, в якій проживає студент" required></select>
                <label for="roomId" class="form-label">Номер кімнати, в якій проживає студент</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <input id="editBtn" type="submit" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15" value="Редагувати">
            <button type="button" class="btn btn-dark btn-sm p-10" data-bs-dismiss="modal">Відмінити</button>
          </div>
      </div>
    </form>
    </div>
  </div>

  <template>
    <div id="tableContainer" class="mx-auto d-flex align-items-center flex-column h-100">
      <h4 id="tableTitle"></h4>
      <table class="table table-striped table-responsive w-50">
        <thead id="tableHeader" class="table-group-divider">
          <tr id="headerRow">
          </tr>
        </thead>
        <tbody id="tableBody" class="table-group-divider">
        </tbody>
      </table>
      <button id="addBtn" type="button" data-bs-toggle="modal" class="btn btn-sm btn-dark p-15"></button>
    </div>
  </template>
  <template>
    <div class="main-page-container bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white">
      <h1 class="mb-3 h2">База даних гуртожитків КПІ</h1>
    </div>
    <div id="courseWorkDataContainer" class="text-container">
      <h3>
        Курсова робота студентки групи ІС-11 Литовченко Аліни Олександрівни
      </h3>
      <br>
      <p>
        Задачею даної курсової роботи було створити базу даних до відповідної предметної галузі, а саме ”Поселення студентів 1-го курсу в гуртожитки”. Ця курсова робота є дуже актуальною, оскільки має практичне значення для багатьох студентів, які проживають в гуртожитках. Вона дозволить ефективно вести облік студентів першого курсу та їхнього поселення в гуртожитки.
      </p>
      <p>
        Дана база даних створена на платформі Node.js та з використанням документо-орієнтованої системи керування базами даних MongoDB. Додаток на основі бази даних створений у програмному середовищі Visual Studio Code. Використання Node.js та MongoDB дозволяє створити ефективну та гнучку систему, яка легко масштабується та підтримується. Додаток, розроблений на основі цієї бази даних, може бути використаний для швидкого та зручного доступу до інформації про студентів та гуртожитки, що значно полегшує процес управління цими даними.
      </p>
      <p>
        Написання даної програми проводиться з метою продемонструвати та засвоїти власні навички у проектуванні баз даних і розробки застосувань під них.
      </p>
    </div>
  </template>

  <script src="./js/index-script.js"></script>
  <script src="./js/faculties-manager.js"></script>
  <script src="./js/rooms-manager.js"></script>
  <script src="./js/students-manager.js"></script>
  <script src="./js/dorms-manager.js"></script>
</body>
</html>